<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>nedm1.digitizer</string>
    <key>EnvironmentVariables</key>
    <dict>
           <key>PYTHONPATH</key>
           <string>/Users/nedmdaq/software/DTACQ/lib</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
           <string>/usr/bin/python</string>
           <string>/Users/nedmdaq/software/DTACQ/WAMP_server.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/nedmdaq/tmp/digitizer</string>
    <key>StandardOutPath</key>
    <string>/Users/nedmdaq/Library/Logs/digitizer.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/nedmdaq/Library/Logs/digitizer.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
